    body {
      background-color: #111;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      font-family: 'Determination Sans Web Regular';
    }

    #countdown {
    font-size: 3em;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 10px #fff;
    }
  
    @keyframes bounce {
      0% {transform: translateY(0);}
      50% {transform: translateY(-5px);}
      100% {transform: translateY(0);}
  }

    .label {
      font-size: 1.2em;
      margin-top: 20px;
    }